/* setting the initial margin and padding of body to zero */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* declaring the universal font as poppins */
body {
    font-family: 'Poppins', sans-serif;
}

/* Upper navbar design containing the logo and the contact information */
/* Using display property flex to row direction to align content in a horizontal pane */
.logo {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-img {
    display: flex;
}

/* Setting height and width of logo */
.logo img {
    height: 40px;
    width: 90px;
}

.logo-img>p {
    font-weight: bolder;
    font-size: 29px;
    font-style: italic;
}

.logo-contacts {
    display: inline-block;
    display: flex;
    margin-left: 40px;
}

.logo-contacts p {
    margin-left: 20px;
}

/* Lower navbar design */
.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(95deg,
            hsl(206.3, 46.5%, 69.22%),
            hsl(225.82, 22.45%, 48.04%),
            hsl(229.2, 26.04%, 37.65%),
            hsl(206.3, 46.5%, 69.22%));
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/* navigation bar button dropdown */
.nav-bar>button {
    padding: 12px 28px;
    border: 2px solid black;
    outline-width: 0;
    color: white;
    border-radius: 22px;
    cursor: pointer;
    font-weight: 500;
    background-image: linear-gradient(120deg,
            hsl(206.3, 46.5%, 69.22%),
            hsl(225.82, 22.45%, 48.04%));
}

.nav-bar button:hover {
    background: linear-gradient(105deg,
            hsl(225.82, 22.45%, 48.04%),
            hsl(206.3, 46.5%, 69.22%));
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a {
    font-size: 18px;
    box-sizing: border-box;
    font-style: normal;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: #142340;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fcfeff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: black;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #142340;
    color: whitesmoke;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* Sticky Navigation Bar */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.banner {
    padding-top: 60px;
}

/* Setting background of the 1st section */
.banner {
    display: flex;
    background: url('../img/back-6.jpg');
    height: 40vh;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.about-info {
    margin: 4%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

.phone-img img {
    height: 300px;
    width: 500px;
}

.about-info-text {
    height: 300px;
}

.investment-options {
    margin: 20px 20px 20px;
    font-size: 20px;
}

.investment-options ul li {
    margin-top: 15px;
}

.investment-options ul {
    list-style: disc;
}

.investment-options ul li>p {
    font-size: 900;
    font-weight: 500;
}

.options p {
    ont-size: 900;
    font-weight: 400;
}

.banner-2 {
    margin: 100px 0;
}

.banner-2 img {
    height: 20%;
    width: 100%;
}

.savings img,
.bitcoin img {
    height: 200px;
    width: 250px;
}

.invest-info {
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 50px;
}

/* displaying the team images  */
.our-team {
    margin: 50px 0;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 50px;

}

.team {
    position: relative;
    width: 50%;
    margin-left: 20px;
}

.team-image {
    display: block;
    width: 100%;
    height: 50%;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background: rgb(51, 50, 50, 0.5);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.team:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* footersection */
.footer {
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    background: linear-gradient(109deg,
            hsl(206.3, 46.5%, 69.22%),
            hsl(225.82, 22.45%, 48.04%),
            hsl(229.2, 26.04%, 37.65%),
            hsl(206.3, 46.5%, 69.22%));
    height: 30vh;
}

.footer-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 2rem;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.menu a {
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
    font-weight: 600;
}

.social-container {
    margin-top: 3rem;
}

.social-container img {
    margin-left: 10px;
    cursor: pointer;
}

.footer-container button {
    margin-top: 3rem;
    padding: 12px 28px;
    border: 2px solid black;
    outline-width: 0;
    color: white;
    border-radius: 22px;
    cursor: pointer;
    font-weight: 500;
    background-image: linear-gradient(120deg,
            hsl(206.3, 46.5%, 69.22%),
            hsl(225.82, 22.45%, 48.04%));
}