/* Setting initial margin and padding to zero  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Applying universal font as poppins */
body {
    font-family: 'Poppins', sans-serif;
}

/* Upper Navigation Bar  */
.logo {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-img {
    display: flex;
}

.logo img {
    height: 40px;
    width: 90px;
}

.logo-img>p {
    font-weight: bolder;
    font-size: 29px;
    font-style: italic;
}

.logo-contacts {
    display: inline-block;
    display: flex;
    margin-left: 40px;
}

.logo-contacts p {
    margin-left: 20px;
}

/* Lower Navigation Bar  */
.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(95deg,
            hsl(206.3, 46.5%, 69.22%),
            hsl(225.82, 22.45%, 48.04%),
            hsl(229.2, 26.04%, 37.65%),
            hsl(206.3, 46.5%, 69.22%));
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.nav-bar>button {
    padding: 12px 28px;
    border: 2px solid black;
    outline-width: 0;
    color: white;
    border-radius: 22px;
    cursor: pointer;
    font-weight: 500;
    background-image: linear-gradient(120deg,
            hsl(206.3, 46.5%, 69.22%),
            hsl(225.82, 22.45%, 48.04%));
}

.nav-bar button:hover {
    background: linear-gradient(105deg,

            hsl(225.82, 22.45%, 48.04%),
            hsl(206.3, 46.5%, 69.22%));
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

/* Dropdown content in Navigation design  */
li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a {
    font-size: 18px;
    box-sizing: border-box;
    font-style: normal;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: #142340;
}


li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fcfeff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: black;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #142340;
    color: whitesmoke;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* Sticky Navigation Bar */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.banner {
    padding-top: 60px;
}
/* Banner Section  */
.banner {
    display: flex;
    background: url('../img/back-6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.banner-box {
    padding: 4em;
    background: rgba(0, 0, 0, 0.72);
    height: 80%;
    width: 80%;
    display: flex;
    align-items: flex-start;
}

.banner-box p {
    color: white;
    font-size: 1.2em;
}

.banner-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.banner-text-container h2 {
    font-weight: 800;
    margin-bottom: 20px;
    color: white;
    line-height: 1.1;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .static-txt {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
}

.wrapper {
    margin-left: 5px;
    line-height: 90px;
    height: 90px;
    /* overflow: hidden; */

}

.dynamic-txts {}

.dynamic-txts li {
    list-style: none;
    color: rgb(252, 209, 131);
    font-size: 30px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 5s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

.dynamic-txts li {
    position: relative;
}

.dynamic-txts li ::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    animation: typing 5s steps(12) infinite;
}

@keyframes typing {

    40%,
    60% {
        left: calc(100% + 30px);
    }

    100% {
        left: 0;
    }
}

/* Styling the Form  */

.form-box {
    /* move box to the left  */
    margin-left: 25%;
    position: relative;
    width: 400px;
    height: 450px;
    /* setting background color as transoarent */
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-box:hover {
    background-color: #54a629;
    color: black;
}

h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.inputbox {
    display: flex;
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

/* Styling and then Translating the label to move upwards on click  */
.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus~label,
input:user-valid~label {
    top: -15px;
}

/* Defining Styles for input box  */
.inputbox input {
    width: 310px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.forget {
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.forget label input {
    margin-right: 3px;

}

.forget label a {
    color: #fff;
    text-decoration: none;
}

.forget label a:hover {
    text-decoration: underline;
}

.form-value button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #cfb1bb;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    padding: 10px 0;
}

.form-value button:hover {
    background-color: #142340;
    color: white;
}

.register {
    font-size: .9em;
    color: #fff;
    text-align: justify;
    margin: 25px 0 5px;
}

.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

/* footer Design  */
.footer {
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    background: linear-gradient(109deg,
            hsl(206.3, 46.5%, 69.22%),
            hsl(225.82, 22.45%, 48.04%),
            hsl(229.2, 26.04%, 37.65%),
            hsl(206.3, 46.5%, 69.22%));
    height: 30vh;
}

.footer-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 2rem;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}

.menu a {
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
    font-weight: 600;
}

.social-container {
    margin-top: 3rem;
}

.social-container img {
    margin-left: 10px;
    cursor: pointer;
}

.footer-container button {
    margin-top: 3rem;
    padding: 12px 28px;
    border: 2px solid black;
    outline-width: 0;
    color: white;
    border-radius: 22px;
    cursor: pointer;
    font-weight: 500;
    background-image: linear-gradient(120deg,
            hsl(206.3, 46.5%, 69.22%),
            hsl(225.82, 22.45%, 48.04%));
}